@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e1c699;
}

.container {
    font-size: 43vw;
    color: lightslategray;
    animation: 3s ease infinite corazon;
    text-shadow: 4px 4px 25px rgba(0,29,95,0.3);
}


.container .contenido {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    font-family: 'Galada', cursive;
}

.container .contenido h1 {
    font-size: 60px;
}

.container .contenido p {
    font-size: 32px;
}

@keyframes corazon {

    50% {
        transform: scale(1.3);
    }

}